UPS_Chlad/server/build/
UPS_Chlad/ups_project
UPS_Chlad/server/logs/
UPS_Chlad/client/logs/
UPS_Chlad/server/.vscode/
UPS_Chlad/client/.venv/
UPS_Chlad/.vscode/
UPS_Chlad/client/tests
__pycache__
UPS_Chlad/server/gamba_server
UPS_Chlad/client/venv