CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
UPS_Chlad/server/build/
UPS_Chlad/.idea/
UPS_Chlad/.claude/
.claude/
UPS_Chlad/ups_project
UPS_Chlad/server/test_disconnect.py
UPS_Chlad/server/logs/
UPS_Chlad/server/test.log
UPS_Chlad/server/.vscode/
UPS_Chlad/client/.venv/
__pycache__
UPS_Chlad/client/logs/